<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.samknows.fcc"
    android:versionCode="223"
	android:versionName="1.123">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


	<uses-feature android:glEsVersion="0x00020000" android:required="true" />

	
	<supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />
	

	<application android:name="FCCApplication"
		android:icon="@drawable/icon" android:theme="@style/ApplicationStyle"
		android:label="@string/app_name">
			
    <provider
         android:name="com.samknows.libcore.ExportFileProvider"
         android:exported="true"
         android:authorities="com.samknows.fcc.ExportFileProvider.provider" />

    <activity android:name="net.hockeyapp.android.UpdateActivity" />

		<activity android:name="com.samknows.ska.activity.SKASettingsActivity"
			android:label="@string/activity_settings_name"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		
		<activity android:name="com.samknows.measurement.activity.TestResultsActivity"
			android:label="@string/activity_test_results_name"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>
		
		<activity android:name="com.samknows.measurement.activity.TestResultsTabActivity"
			android:label="@string/activity_test_results_name"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>
		
		<activity android:name="com.samknows.measurement.activity.SamKnowsInitialSettings"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		<activity android:name="com.samknows.ska.activity.SKAMainAndTermsAndConditionsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
	
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="samknows" />
			</intent-filter>

		</activity>

		<activity android:name="com.samknows.measurement.activity.SamKnowsRegister"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		<activity android:name="com.samknows.measurement.activity.SamKnowsResetPassword"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>
		
		<activity android:name="com.samknows.measurement.activity.SamKnowsRecoverPassword"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		<activity
		    android:launchMode="singleTask"
			android:name="com.samknows.ska.activity.SKAMainResultsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		<activity
			android:name="com.samknows.ska.activity.SKARunningTestActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		<activity android:name="com.samknows.ui2.activity.SKAAboutActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>
		
		<activity android:name="com.samknows.ska.activity.SKATermsOfUseActivity"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>

		<activity android:name="com.samknows.ska.activity.SKAPostToSocialMedia"
			android:configChanges="orientation|keyboardHidden|screenSize">
		</activity>
		
		<activity android:name="com.samknows.ska.activity.SKAPreferenceActivity"
			android:label="@string/Storyboard_Settings_Configuration"
			android:screenOrientation="portrait">
			<!--  the preferences theme looks wrong in the top area for Android 2.3.3 - so rely on the preferences style supplied by the system... -->
			<!--   android:theme="@style/PreferencesTheme"> -->
			
		</activity>

		<service android:name="com.samknows.measurement.MainService" />

		<receiver android:name="com.samknows.measurement.StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.samknows.measurement.PowerReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<meta-data android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyDn7BqOmJxn6WBiao32nbrCKxpoS_tfh7w" />
		
		<meta-data android:name="com.crashlytics.ApiKey" android:value="dd477e7baf9c47c9aadb6e29bb7ac545c607c0a5"/>
    
    <!-- Facebook -->

    <activity
      android:name="com.facebook.LoginActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"/>

    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/facebook_app_id"/>

    <!-- End: Facebook -->
    
    <!-- Twitter -->
    <!-- http://blog.blundell-apps.com/sending-a-tweet/ -->
	<activity android:name="com.samknows.ska.activity.SKAPostToTwitterActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:launchMode="singleInstance">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="libcore-twitter-android" />
        </intent-filter>
    </activity>
    <!-- End: Twitter -->
    
	</application>

</manifest>
